body {
  background-color: aquamarine;
  max-width: 750px;
  margin: auto;
  padding: 10px;
}

article {
  max-width: 370px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
}
div {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 0px;
}
