.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.elemek {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elemek:hover {
  cursor: pointer;
}
nav{
  font-size: 20px;
}

body {
  color: #86ED00;
  background-color: #6449c1;
  max-width: 750px;
  margin: auto;
  padding: 10px;
}
header {
  text-align: center;
  height: 300%;
}
nav {
  background-color: #ff4b4b;
  border-radius: 10px;
}
footer {
  background-color: #ff4b4b;
  border-radius: 10px;

}
footer p{
  font-size: 20px;
}
aside button {
  box-shadow: 5px 10px #86ED00;
  border-radius: 10px;
}