div {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 50px;
    text-align: center;
}

article {
    width: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game-board {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color: #34495e;
    border: 6px solid #2c3e50;
    border-radius: 10px;
  }

body {
    background-color: aquamarine;
    max-width: 750px;
    margin: auto;
    padding: 10px;
}

header {
    text-align: center;
    height: 300%;
}

.keret {
    padding: 30px;
    background-color: white;
    margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: solid 5px black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


footer {
    text-align: center;
}