img {
  width: 100px;
}

body {
  background-color: aquamarine;
  max-width: 750px;
  margin: auto;
  padding: 10px;
}
header {
  text-align: center;
  height: 300%;
}

.game-board {
  width: 600px;
  height: 1050px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}

.kartya {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer{
  text-align: center;
}

.aside-board {
  width: 400px;
  height: 70px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: 80% 20%;
}
h3{
  padding-top: 3px;
}